h1, h3, a {
    color: rgb(49, 47, 47);
    margin-top: 5px;
}

.menu {
    background-color: rgb(128, 148, 103);
}

li {
    list-style: none;
}

.body {
    grid-template-columns: 100% auto;
    grid-template-rows: 50% 50%;
}

.contact-details {
  margin-bottom: 50px;
}

span {
    font-weight: bold;
}

.jumbo {
    background-color: rgb(225, 235, 231);
    padding: 25px;
    margin-top: -8px;
}

.button {
    padding: 10px 30px 10px;
    text-decoration: none;
    color: #fff;
    background: #c5e4c5;
    border-radius: 5px;
    border: none;
    font-size: 20px;
    font-weight: bold;
    opacity: 0.9;
    display: inline-block;
  }

  .id-details {
      margin-top: 40px;
  }

  img {
      margin-top: 40px;
  }