.nav {
    background-color: rgb(194, 164, 164);
}

h1, a {
    color: white;
}

li {
    list-style: none;
}

.body {
    grid-template-columns: 100% auto;
    grid-template-rows: 50% 50%;
}

.left {
    background-color: blue;
    grid-column-start: 1 / 2;
    display: grid;
}

.right {
    background-color: green;
    grid-column-start: 2 / 3;
    display: grid;
}

.contact-details {
    background-color: beige;
    padding: 5px;
    margin: 15px;

}

span {
    font-weight: bold;
}