<div class="contact-details">

    <img alt="Image on Contact"
        src="{{@contact.image}}"
        width= "250px" height= "300px"
    >

    <h3>
        <LinkTo @route="contact" @model={{@contact}}>{{@contact.name}}</LinkTo>
        {{!-- <LinkTo @route="contact" @contact={{}}></LinkTo> --}}
    </h3>

</div>