<nav class="menu">
  <LinkTo @route="index" class="menu-index">
    <h1>Contact List</h1>
  </LinkTo>
  <div class="links">
    <LinkTo @route="new" class="menu-contact">
      Add New 
    </LinkTo>
  </div>
</nav>

