<Jumbo>
    <p>This is your dynamic segment page.</p>
</Jumbo>

<article class="contact detailed">

    <div class="details">
        <p>Your friend {{@contact.name}}</p>
        <p>Your Friends Address: {{@contact.homeAddress}}</p>
    </div>


</article>