<Jumbo>
    <p>Select contact name to view more.</p>
    <LinkTo @route="new" class="button">Add New</LinkTo>
</Jumbo>


<div class="contacts">
    <ul>
    {{#each @model as |contact|}}
      <li><Contact @contact={{contact}} /></li>
    {{/each}}
    </ul>
</div>


