<h1>Add New Contact</h1>

<label for="site">First Name</label>
<input id="site" type="text"/><br>

<label for="site">Last Name</label>
<input id="site" type="text"/><br>

<label for="site">Phone Number</label>
<input id="site" type="text"/><br>

<label for="site">Email Address</label>
<input id="site" type="text"/><br>

<label for="site">Home Address</label>
<input id="site" type="text"/><br>

<label for="site">City</label>
<input id="site" type="text"/>

<label for="site">State</label>
<input id="site" type="text"/>

<label for="site">Zip Code</label>
<input id="site" type="text"/><br>

<button type="submit">Submit</button>




